<b>Classification Algorithm:
    
Classification Algorithms in Data Mining. It is one of the Data Mining. That is used to analyze a given data set and takes each instance of it. It assigns this instance to a particular class. ... So classification is the process to assign class label from a data set whose class label is unknown.
    

Here I have used two types of classfication algorithm:
    
1. SVM Classification
2. Decision Tree Classification

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Import the dataset
#Here I am using titanic dataset

train = pd.read_csv('F:/VIT COLLEGE/2nd SEM/MACHINE LEARNING/LAB/titanic_data.csv')
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [3]:
#rectified
#fix the predictor values
df = train[['Survived','Pclass','Sex','Age','Fare']]

In [4]:
#encoding 
#feature_engineering
#change male to 1 and female to 0..
df["Sex"] = df["Sex"].apply(lambda sex:1 if sex =="male" else 0)

<ipython-input-4-fa3fe1827b33>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sex"] = df["Sex"].apply(lambda sex:1 if sex =="male" else 0)

In [5]:
df.tail()

     Survived  Pclass  Sex   Age   Fare
886         0       2    1  27.0  13.00
887         1       1    0  19.0  30.00
888         0       3    0   NaN  23.45
889         1       1    1  26.0  30.00
890         0       3    1  32.0   7.75

In [6]:
#Handling missing values.. -- Data imputation

df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [7]:
df.tail()

     Survived  Pclass  Sex   Age   Fare
886         0       2    1  27.0  13.00
887         1       1    0  19.0  30.00
888         0       3    0   NaN  23.45
889         1       1    1  26.0  30.00
890         0       3    1  32.0   7.75

In [8]:
#df.fillna(0)
#df = df.replace(np.nan,0)
#df = df.fillna(df.mean(), inplace=True)
df['Age'] = df['Age'].fillna(df['Age'].median())

<ipython-input-8-10b883aedca6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].fillna(df['Age'].median())

In [9]:
df.tail()

     Survived  Pclass  Sex   Age   Fare
886         0       2    1  27.0  13.00
887         1       1    0  19.0  30.00
888         0       3    0  28.0  23.45
889         1       1    1  26.0  30.00
890         0       3    1  32.0   7.75

In [10]:
#Set the predictor(X)and Response(Y) variables
X = df.drop("Survived",axis = 1)
Y = df["Survived"]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 25)

<b>Support Vector Machine” (SVM) is a supervised machine learning algorithm which can be used for both classification or regression challenges. However,  it is mostly used in classification problems. In the SVM algorithm, we plot each data item as a point in n-dimensional space (where n is number of features you have) with the value of each feature being the value of a particular coordinate.
    
Below is the SVM Classification:

In [12]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [13]:
y_pred = svclassifier.predict(X_test)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test,y_pred))
print(classification_report(Y_test,y_pred))

[[140  25]
 [ 36  67]]
              precision    recall  f1-score   support

           0       0.80      0.85      0.82       165
           1       0.73      0.65      0.69       103

    accuracy                           0.77       268
   macro avg       0.76      0.75      0.75       268
weighted avg       0.77      0.77      0.77       268

In [15]:
#accuracy of SVM
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, y_pred)

0.7723880597014925

<b>Decision tree builds classification or regression models in the form of a tree structure. It breaks down a dataset into smaller and smaller subsets while at the same time an associated decision tree is incrementally developed. The final result is a tree with decision nodes and leaf nodes. A decision node (e.g., Outlook) has two or more branches (e.g., Sunny, Overcast and Rainy). Leaf node (e.g., Play) represents a classification or decision. The topmost decision node in a tree which corresponds to the best predictor called root node. Decision trees can handle both categorical and numerical data.

In [16]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [17]:
# Model Accuracy of decision tree..
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.7835820895522388