<b>Classification Algorithm:
    
Classification Algorithms in Data Mining. It is one of the Data Mining. That is used to analyze a given data set and takes each instance of it. It assigns this instance to a particular class. ... So classification is the process to assign class label from a data set whose class label is unknown.
    
Here I have used two types of classfication algorithm:
1. Naive Bayes Classification
2. KNN Classification

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#import dataset
#Here I am using titanic dataset

train = pd.read_csv('F:/VIT COLLEGE/2nd SEM/MACHINE LEARNING/LAB/titanic_data.csv')
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [4]:
#rectified
#fix the predictor values
df = train[['Survived','Pclass','Sex','Age','Fare']]

In [5]:
#encoding 
#feature_engineering
#change male to 1 and female to 0..
df["Sex"] = df["Sex"].apply(lambda sex:1 if sex =="male" else 0)

<ipython-input-5-fa3fe1827b33>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sex"] = df["Sex"].apply(lambda sex:1 if sex =="male" else 0)

In [6]:
df.tail()

     Survived  Pclass  Sex   Age   Fare
886         0       2    1  27.0  13.00
887         1       1    0  19.0  30.00
888         0       3    0   NaN  23.45
889         1       1    1  26.0  30.00
890         0       3    1  32.0   7.75

In [7]:
#Handling missing values.. -- Data imputation

df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [8]:
df.tail()

     Survived  Pclass  Sex   Age   Fare
886         0       2    1  27.0  13.00
887         1       1    0  19.0  30.00
888         0       3    0   NaN  23.45
889         1       1    1  26.0  30.00
890         0       3    1  32.0   7.75

In [9]:
#df.fillna(0)
#df = df.replace(np.nan,0)
#df = df.fillna(df.mean(), inplace=True)
df['Age'] = df['Age'].fillna(df['Age'].median())

<ipython-input-9-10b883aedca6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].fillna(df['Age'].median())

In [10]:
df.tail()

     Survived  Pclass  Sex   Age   Fare
886         0       2    1  27.0  13.00
887         1       1    0  19.0  30.00
888         0       3    0  28.0  23.45
889         1       1    1  26.0  30.00
890         0       3    1  32.0   7.75

In [11]:
#Set the predictor(X)and Response(Y) variables
X = df.drop("Survived",axis = 1)
Y = df["Survived"]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 25)

<b>Naive Bayes classifiers are a collection of classification algorithms based on Bayes’ Theorem. It is not a single algorithm but a family of algorithms where all of them share a common principle, i.e. every pair of features being classified is independent of each other.

 Below is the Naive Bayes Classification:

In [13]:
from sklearn.naive_bayes import GaussianNB

In [14]:
gnb = GaussianNB()
y_pred = gnb.fit(X_train, Y_train).predict(X_test)

In [15]:
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (Y_test != y_pred).sum()))

Number of mislabeled points out of a total 268 points : 62

In [16]:
corr_val = X_test.shape[0] - (Y_test != y_pred).sum()
corr_val

206

In [17]:
perct_corr = corr_val/X_test.shape[0]
perct_corr

0.7686567164179104

In [18]:
#naive bayes accuracy..
print("Accuracy achieved is {}".format(perct_corr*100))

Accuracy achieved is 76.86567164179104

<b>K nearest neighbors is a simple algorithm that stores all available cases and classifies new cases based on a similarity measure (e.g., distance functions). KNN has been used in statistical estimation and pattern recognition already in the beginning of 1970’s as a non-parametric technique. 
    
Below is the Knn classification:

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
  
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=7)

In [20]:
# Calculate the accuracy of the model using KNN..
print(knn.score(X_test, Y_test))

0.7052238805970149